<nav>
  <div class="nav-wrapper red darken-4">
    <a href="#" class="brand-logo"><img src="assets/pokedex.png" width="150" height="auto"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="texto" routerLinkActive="active"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/pokemons">Pokemons</a></li>
      <li routerLinkActive="active"><a routerLink="/berries">Berries</a></li>
      <li routerLinkActive="active"><a routerLink="/trainer">Treinador</a></li>
    </ul>
  </div>
</nav>
