<div class="row center">
	<div class="container row">
		<div class="col s12">
			<h1> Bem-vindo! </h1>
		</div>
	</div>
	
	<div class="container">
		<div class="row white">
		  	<div class="col l6">
		  		<h3>Treinador</h3>
		  	</div>
		  	<div class="col l6">
		  		<h3>Pokémon</h3>
		  	</div>
		</div>
		<div class="row">
			<div class="col l8 offset-l2">
				<ul class="collection" *ngFor="let trainer of trainers">
					  <li class="collection-item">
					  	<div class="row white">
						  	<div class="col l6 tbl">
						  		<p>{{trainer.nome}}</p>
						  	</div>
						  	<div class="col l6 tbl">
						  		<p>{{trainer.pokemon}}</p>
						  	</div>
						  	<div class="col l6 offset-l6">
						  		<button class="btn" (click)="deletaTrainer(trainer.id)">Deletar treinador</button>
						  	</div>
						</div>
					  </li>
				</ul>
			</div>
		</div>
	</div>
</div>